*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width: 90%;
    margin: auto;
    height: 100px;
    /* background-color: rgb(192, 188, 188); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}
.logo{
    width: 10%;
    height: 80%;
}
.logo img{
    width: 100%;
    height: 100%;
}
.login{
    width: 120px;
    height: 50%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 30px ;
}
.login:hover{
    background-color: gray;
}
.home{
    position: relative;
}
.nav ul{
    list-style: none;
    text-align: center;
}
.innerlist1{
    position: absolute;
    top: 59px;
    /* left: -10px; */
    display: block;
    background-color: rgb(177, 173, 173);
    width: 150px;
    display: none;
    
}
.home:hover .innerlist1{
    display: block;
}
.services{
    position: relative;
}
.innerlist2{
    position: absolute;
    top: 59px;
    left: -20px;
    display: block;
    background-color: rgb(177, 173, 173);
    width: 150px;
    display: none;
}
.services:hover .innerlist2{
    display: block;
}
.help{
    position: relative;
}
.innerlist3{
    position: absolute;
    top: 59px;
    left: -20px;
    display: block;
    background-color: rgb(177, 173, 173);
    width: 150px;
    display: none;
}
.help:hover .innerlist3{
    display: block;
}